@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

.App {
  text-align: center;
  min-height: 100vh;
  font-family: 'DM Sans', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}