footer{
    width: 100%;
    background: #003366;
    border-top: 15px solid #D9534F;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 175px;
    padding-top: 55px;
    padding-bottom: 92px;
}

.cName{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
    padding-bottom: 2%;
}

.footer_a{
    text-decoration: none !important;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF !important;
    text-align: left !important;
    margin-bottom: 5px;
    padding: 0px;
}