.card-header {
    font-family: 'DM Sans', sans-serif;
    color: white;
    background-color: #181a46 ;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 2px solid #ddd;
}

.card-body {
    font-family: 'DM Sans', sans-serif;
    background-color: #181a46 ;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid #ddd;
}

.App{
    background: #1F2233;
    background: -webkit-linear-gradient(to right, #003366, #1c7911, #00ffb6);
}

.card{
    border: 0px solid rgba(0,0,0,0)
}