.card-header {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: #181a46;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 2px solid #ddd;
}